<% provide(:title, "About") %>
    <body>
        <h1>About Page</h1>
            <p>
                This is the about page for the <a href="http://aepa-movie.com">After effect of PA</a>
                
            </p>
    </body>
