<% provide(:title, "Help") %>

        <h1>Help Page</h1>
        <p>
            Get help on the Ruby on Rails Tutorial at the
            <a href="http://www.railstutorial.org">Rails Tutorial</a>
        </p>
