<!DOCTYPE html>
<html>
    <head>
      <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App for Static content </title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
    
    <%= yield %>
    
    </body>
</html>
